// Responsive breakpoints
$mq-breakpoints: (
    mobile:          320px,
    mobileIphon6:    360px,
    phablet:         580px,
    lap:             768px,
    tablet:          916px,
    desktop:         1024px,
    smallDesktop:    1200px,
    wide:            1300px,
);

