/* Main Page
 * =============================================================================
 *
 * Default Base Styles for page styling
 */
html {
    margin:0;
    padding:0;
    height:100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
}

body {
    margin:0;
    padding:0;
    height:100%;
    font-family: "Source Sans Pro", HelveticaNeue, Helvetica, Arial, Sans;
    font-size: 1rem;
}

select ,option , div, ul, li, span { outline: none; }

.select {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }

  &::after {
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 5px solid #82888a;
    height: 5px;
    margin-top: -2.5px;
    right: 10px;
    top: 50%;
  }
  > select {
    &::-ms-expand {
      display: none;
    }
  }
}

.progressBar{
    padding: 12px 24px;
  .mainTitle{
    background: #505052;
    padding: 10px;
    color: #ffffff;
    border-radius: 16px;
  }
  .mainContainer{
    .title{
      font-size: 16px;
    }
  }
  .progressBarBottom{
    list-style: none;
    margin: 0 auto;
    padding: 10px;
    display: inline-block;
    border: 1px solid #f1f1f1;
    border-radius: 14px;

    li{
      display: inline-block;
      cursor: pointer;
      border: 1px solid #98999a;
      margin: 0 2px;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 700;
      width: 30px;
      height: 30px;
      float: left;
      line-height: 28px;
      color: #595863;
      background: #f4f5f5;

      &:first-child{
        width: auto;
        border: none;
      }
    }
    .bottomFilters-sort{
      border-radius: 4px;
      border: 1px solid #a9acaf;
      padding: 0;
      width: 100%;
      background: #f4f5f5;

      select{
        display: block;
        height: 28px;
        padding: 0 20px 0 8px;
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance: none;
        border: none;
        border-radius: 4px;
      }
    }
  }
  .progress{
    position: relative;
    .barMidValue{
      width: 100%;
      position: absolute;
      display: block;
      top: 0;
      font-weight: bold
    }
  }
}



